<footer class="footer">
  <small>
    <a href="http://game-tech.net/">Rosie</a>
    by Marc Maniscalco
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.game-tech.net/">News</a></li>
    </ul>
  </nav>
</footer>